body,html{
    height: 100%;
    width: 100%;
    background-image: url("https://static.pexels.com/photos/326055/pexels-photo-326055.jpeg");
    background-position: center;
    background-size: cover;
}

.main{
    height: 100%;
    background: linear-gradient(to top, rgba(38,38,37,0), rgba(38,38,38,1));
    margin: auto;
    max-width: 50%;
    overflow: hidden;
}

.info{
    height: auto;
    margin: auto;
    margin-top: 20%;
    padding: 12px;
}

.state{
    margin-top:2%;
    float: left;
}

.degree{
    float: left;
}

.degree h2{
    font-size: 3.2rem;
    color: white;
}
.state h5{
    /*background-color: white;*/
    /*border-radius: 24px;*/
    color:white;
    font-style: italic;
    padding: 10px;
    margin-left: 20px;
    font-size: 1.12rem;
}

.wind {
    color: white;
    height: auto;
    margin-top: 10px;
}

.wind span.title{
    color:#7BC950;
    text-align: left;
    font-size: 1.4rem;
}
.wind-image img{
    width: 60px;
    height: 60px;
    margin-left: 60%;
}

div.wind-image{
    margin-top: 15px;
    margin-left: -15%;
}

.location{
    color: white;
    padding-top: 5%;
    padding-left: 2%;
}

@media (max-width:760px) {
    .wheather-image{
        width: 50%;
        margin: auto;
    }

    .wind-image img{
        margin-left: 50%;
    }

    .location{
        border-top: solid 2px;
        width: 100%;
        margin-top: 10px;
    }

    .location h3{
        width: 60%;
        margin: auto;
    }
}